<ul class="tags">
  {% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li><a class="collapsible">{{t}} ({{posts | size}})</a>
  <div class="content">
    <ul>
      {% for post in posts %}
      {% if post.tags contains t %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%D" }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div></li>
  {% endfor %}
</ul>

<style>
  .collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
  }

  .active,
  .collapsible:hover {
    color: #2268b2;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
</style>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>